.vscode/settings.json
bazel-bin/firstTest.exe
bazel-bin/firstTest.exe.runfiles_manifest
bazel-bin/firstTest.temp
bazel-bin/firstTest.zip
bazel-bin/firstTest.zip-0.params
bazel-bin/firstTest.exe.runfiles/MANIFEST
bazel-out/stable-status.txt
bazel-out/volatile-status.txt
bazel-out/_tmp/actions/stderr-6
bazel-out/_tmp/actions/stdout-6
bazel-out/x64_windows-fastbuild/bin/firstTest.exe
bazel-out/x64_windows-fastbuild/bin/firstTest.exe.runfiles_manifest
bazel-out/x64_windows-fastbuild/bin/firstTest.temp
bazel-out/x64_windows-fastbuild/bin/firstTest.zip
bazel-out/x64_windows-fastbuild/bin/firstTest.zip-0.params
bazel-out/x64_windows-fastbuild/bin/firstTest.exe.runfiles/MANIFEST
__pycache__/main_test.cpython-37.pyc
__pycache__/main.cpython-37.pyc
tests/__pycache__/main_test.cpython-37.pyc
__pycache__/card.cpython-37.pyc
tests/__pycache__/card_test.cpython-37.pyc
.vscode/.ropeproject/objectdb
__pycache__/setup_round.cpython-37.pyc
.vscode/.ropeproject/config.py
__pycache__/bidding.cpython-37.pyc
__pycache__/tools.cpython-37.pyc
tests/__pycache__/bidding_test.cpython-37.pyc
modules/__pycache__/__init__.cpython-37.pyc
modules/__pycache__/bidding.cpython-37.pyc
modules/__pycache__/card.cpython-37.pyc
modules/__pycache__/setup_round.cpython-37.pyc
modules/__pycache__/tools.cpython-37.pyc
modules/__pycache__/create_settings.cpython-37.pyc
modules/__pycache__/setup_single_play.cpython-37.pyc
bazel-skat
.gitignore
tests/__pycache__/tools_test.cpython-37.pyc
modules/__pycache__/play_round.cpython-37.pyc
tests/__pycache__/play_round_test.cpython-37.pyc
modules/__pycache__/end_round.cpython-37.pyc
tests/__pycache__/__init__.cpython-37.pyc
tests/__pycache__/end_round_test.cpython-37.pyc
modules/__pycache__/bidding_class.cpython-37.pyc
modules/__pycache__/setting_container.cpython-37.pyc
modules/__pycache__/round_class.cpython-37.pyc
modules/__pycache__/player_class.cpython-37.pyc
modules/__pycache__/cards.cpython-37.pyc
modules/__pycache__/Stich.cpython-37.pyc
modules/__pycache__/Player.cpython-37.pyc
modules/__pycache__/Players.cpython-37.pyc
modules/__pycache__/Round.cpython-37.pyc
modules/__pycache__/SettingContainer.cpython-37.pyc
tests/__pycache__/player_test.cpython-37.pyc
tests/__pycache__/Players_test.cpython-37.pyc
tests/__pycache__/settingContainer_test.cpython-37.pyc
bazel-bin/Skat.exe
bazel-bin/Skat.exe.runfiles_manifest
bazel-bin/Skat.temp
bazel-bin/Skat.zip
bazel-bin/Skat.zip-0.params
bazel-bin/Skat.exe.runfiles/MANIFEST
bazel-out/x64_windows-fastbuild/bin/Skat.exe
bazel-out/x64_windows-fastbuild/bin/Skat.exe.runfiles_manifest
bazel-out/x64_windows-fastbuild/bin/Skat.temp
bazel-out/x64_windows-fastbuild/bin/Skat.zip
bazel-out/x64_windows-fastbuild/bin/Skat.zip-0.params
bazel-out/x64_windows-fastbuild/bin/Skat.exe.runfiles/MANIFEST
bazel-out/_tmp/actions/stderr-4
bazel-out/_tmp/actions/stdout-4
bazel-bin/tests.exe
bazel-bin/tests.exe.runfiles_manifest
bazel-bin/tests.temp
bazel-bin/tests.zip
bazel-bin/tests.zip-0.params
bazel-bin/tests.exe.runfiles/MANIFEST
bazel-out/x64_windows-fastbuild/bin/tests.exe
bazel-out/x64_windows-fastbuild/bin/tests.exe.runfiles_manifest
bazel-out/x64_windows-fastbuild/bin/tests.temp
bazel-out/x64_windows-fastbuild/bin/tests.zip
bazel-out/x64_windows-fastbuild/bin/tests.zip-0.params
bazel-out/x64_windows-fastbuild/bin/tests.exe.runfiles/MANIFEST
bazel-out/x64_windows-fastbuild/testlogs/tests/test.cache_status
bazel-out/x64_windows-fastbuild/testlogs/tests/test.log
bazel-out/x64_windows-fastbuild/testlogs/tests/test.xml
bazel-out/x64_windows-fastbuild/testlogs/tests/test.xml.log
bazel-testlogs/tests/test.cache_status
bazel-testlogs/tests/test.log
bazel-testlogs/tests/test.xml
bazel-testlogs/tests/test.xml.log
.coverage
.doit.db.bak
.doit.db.dat
.doit.db.dir
coverage.xml
__pycache__/dodo.cpython-37.pyc
__pycache__/test.cpython-37.pyc
build/doctrees/bidding.doctree
build/doctrees/card.doctree
build/doctrees/cards.doctree
build/doctrees/environment.pickle
build/doctrees/functions.doctree
build/doctrees/index.doctree
build/doctrees/player.doctree
build/doctrees/players.doctree
build/doctrees/round.doctree
build/doctrees/settingcontainer.doctree
build/doctrees/Stich.doctree
build/doctrees/tools.doctree
build/latex/footnotehyper-sphinx.sty
build/latex/latexmkjarc
build/latex/latexmkrc
build/latex/LatinRules.xdy
build/latex/LICRcyr2utf8.xdy
build/latex/LICRlatin2utf8.xdy
build/latex/make.bat
build/latex/Makefile
build/latex/python.ist
build/latex/sphinx.sty
build/latex/sphinx.xdy
build/latex/sphinxcyrillic.sty
build/latex/sphinxhighlight.sty
build/latex/sphinxhowto.cls
build/latex/sphinxmanual.cls
build/latex/sphinxmessages.sty
build/latex/sphinxmulticell.sty
build/latex/swe-skat.tex
build/doctrees/buildtool.doctree
build/doctrees/cleancode.doctree
build/doctrees/continous.doctree
build/doctrees/dsl.doctree
build/doctrees/functional.doctree
build/doctrees/ide.doctree
build/doctrees/metrics.doctree
build/doctrees/uml.doctree
build/doctrees/unittest.doctree
build/html/buildtool.html
build/html/cleancode.html
build/html/continous.html
build/html/dsl.html
build/html/functional.html
build/html/ide.html
build/html/metrics.html
build/html/uml.html
build/html/unittest.html
build/html/_sources/buildtool.rst.txt
build/html/_sources/cleancode.rst.txt
build/html/_sources/continous.rst.txt
build/html/_sources/dsl.rst.txt
build/html/_sources/functional.rst.txt
build/html/_sources/ide.rst.txt
build/html/_sources/metrics.rst.txt
build/html/_sources/uml.rst.txt
build/html/_sources/unittest.rst.txt
build/html/_images/Aktivitätsdiagram.png
build/html/_images/classes_Skat.png
build/html/_images/packages_Skat.png
bazel-bin/test.exe
bazel-bin/test.exe.runfiles_manifest
bazel-bin/test.temp
bazel-bin/test.zip
bazel-bin/test.zip-0.params
bazel-bin/test.exe.runfiles/MANIFEST
bazel-out/x64_windows-fastbuild/bin/test.exe
bazel-out/x64_windows-fastbuild/bin/test.exe.runfiles_manifest
bazel-out/x64_windows-fastbuild/bin/test.temp
bazel-out/x64_windows-fastbuild/bin/test.zip
bazel-out/x64_windows-fastbuild/bin/test.zip-0.params
bazel-out/x64_windows-fastbuild/bin/test.exe.runfiles/MANIFEST
